<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Camaar" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# PWA Manifest (opcional) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <%# Tailwind via CDN (para desenvolvimento) %>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
      tailwind.config = {
          theme: {
              extend: {
                  fontFamily: {
                      roboto: ['Roboto', 'sans-serif']
                  }
              }
          }
      }
  </script>
</head>

<body class="font-roboto bg-[#dbdbdb]">
<%= render "layouts/navbar" %>

<main class="container mx-auto px-5 pt-28"> <!-- pt-28 para compensar a navbar fixa -->
  <%= yield %>
</main>
</body>
</html>